<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_shop_logo"
        android:label="Shop App"
        android:roundIcon="@mipmap/ic_shop_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication" >
        <activity
            android:name=".AdminHomeBottomActivity"
            android:label="@string/title_activity_admin_home_bottom" >
        </activity>
        <activity android:name=".userUi.home.Listview" />
        <activity
            android:name=".userUi.home.HomeBottomActivity"
            android:label="@string/title_activity_home_bottom" />
        <activity android:name=".login.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>